*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo img {
    width: 70px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust as needed for spacing */
}

.header .logo span {
    font-size: 1.5rem; /* Adjust as needed for text size */
    color: #000; /* Adjust the color */
    font-weight: bold; /* Adjust font weight if needed */
}

.banner{
    background: orange;
    height: 60vh;
    width:100%;
    position: relative; 
    z-index: 1;
}
/* .banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    background-image: '';
    width: '';
    height: '';
    background-size: '';
    background-repeat: no-repear;
} */

.banner .detail{
    position: absolute;
    padding: 7rem 0;
    left: 35%;
    text-align: center;
    z-index: 200;

}
.banner .detail h1{
    font-size: 5rem;
    color:#fff;
    text-transform: capitalize;
}
.banner  .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner .detail a{
    text-transform: uppercase;
    color: #000;
}
.banner .detail span{
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transform: .3s;
}
header.scrolled{
    background: #fff;
    box-shadow: 0 5px 20px 0.1px  rgba(64, 196, 196,.3);
    backdrop-filter: blur(20pox);
}
header.scrolled a:hover{
    color:#48ba57;
}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color:#000;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar a:hover,
header .icons i:hover{
    color: #fff;
    text-decoration: none;
}
.header .icons{
    display: flex;
    gap: 1.5rem;
    
}
.header .icone i {
    height: 30px;
    
}
menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right:0rem;
    background: rgb(255 255 255 /80%);
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
    width: 30rem;
    transform: scale(1.0);
    transform-origin: top right;
    line-height: 2;
}
.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}
.header .user-box.active{
    transform: scale(1.0);
    transition: .2s linear;
}
